<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.manhica.maltem.magdss">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.HouseholdActivity" />
        <activity android:name=".activity.ListHouseholdActivity" />
        <activity android:name=".activity.SearchActivity" />
        <activity android:name=".activity.SearchMemberActivity"></activity>
    </application>

</manifest>